.home-img1{
width: 100%;
height : 120%

/* margin-left: 2% ; */
/* margin-right: auto;
margin-left: auto; */
/* margin : 0 10% 0 10% !important;  */

/* margin-bottom: auto; */

/* position: relative; */

}
.home-img2{
    width: 100%;
    height : 120%
    

    }

    .home-img3{
        width: 100%;
        height : 120%
        
        }

.carousel-img{


             
                background-color:grey;
                /* margin-left: -11.4%; */
                /* margin-right: 10px; */
                /* width:122.3%; */
                /* height: 400px; */
    }

.caption-img1{
    margin-bottom: 60px;
    margin-left: 50% ;
    font-size:x-large;
    font-family: Verdana;
    font-style: italic;
    color: black;
    
        /* margin-left: 30px; */
    }
.caption-img2{
    margin-bottom: 60px;
    margin-left: 45% ;
    font-size: x-large;
    font-family: Verdana;
    font-style: italic;
    color: black;
}
.caption-img3{
    margin-bottom: 60px;
    margin-left: 45% ;
    font-size: x-large;
    font-family: Verdana;
    font-style: italic;
    color: black;
    

}

@media all and (max-width: 600px){

    .caption-img1{

        color: black;
        font-size: small;
        margin-right: 5px;
        margin-bottom: 65px;
    }
    .caption-img2{
        color: black;
        font-size: small;
        margin-right: 6px;
        margin-bottom: 65px;
    }
    .caption-img3{
        color: black;
        font-size: small;
        margin-right: 10px;
        margin-bottom: 65px;
    }
    /* .carousel-img{
        width: 119.5%;
    } */
    .carousel-img{
        /* width: 119.5%; */
        margin-left: 10%;
        margin-right: 10%;

    }
    .home-img1{
        /* width: 45%; */
        /* margin-left: 10%; */
        /* margin-bottom: 69px; */
    }

    .home-img2{
        width: 45%;
        margin-left: 10%;
        margin-bottom: 69px;
        margin-top: 5rem;
        
        
       }
       .home-img3{
        width: 45%;
        margin-left: 10%;
        margin-bottom: 69px;
        margin-top: 5rem;
        
       }
}

@media all and (max-width:470px){
    .home-img1{
        width: 45%;
        margin-left: 10%;
        margin-bottom: 69px;
        
    }
    .caption-img1{
        color: black;
        font-size: small;
        margin-right: 5px;
        margin-bottom: 30px;
    }

    .caption-img2{
        color: black;
        font-size: small;
        margin-right: 6px;
        margin-bottom: 30px;
    }

    .caption-img3{
        color: black;
        font-size: small;
        margin-right: 10px;
        margin-bottom: 35px;
    }
   .carousel-img{
    
    width: 114%;    
    
   }

   .home-img2{
    width: 45%;
    margin-left: 10%;
    margin-bottom: 69px;
    margin-top: 5rem;
    
    
   }

   .home-img3{
    width: 45%;
    margin-left: 10%;
    margin-bottom: 69px;
    margin-top: 5rem;
    
   }
}



@media all and (max-width:370px){
    .caption-img1{
      
       margin-bottom: -20px;
    }
    .caption-img2{
        margin-bottom: 10px;
        margin-right: 15px;
    }
    .caption-img3{
        margin-bottom: -7px;
        margin-right: 15px;
    }
}
