
.footer-body{
    background-color: grey;
    margin-top: 28%;
   padding:50px;
    height: 100%;
    width:100%
    

}
.col-title{
    font-size: xx-large;
    font-display:inherit;
    color: rgb(238, 199, 213);
    margin-right: 3px;
    margin-top: 35px;
}
.col-About-title{
    font-size: xx-large;
    font-display:inherit;
    color: rgb(238, 199, 213);
}
.footer-para1{
    margin-right: 65%;
    font-size: large;
    color:whitesmoke
}
.footer-para2{
    margin-right: 65%;
    font-size: large;
    color:whitesmoke
}
.footer-single-row{
    margin:0px;
    }

.footer-img{
    margin-left: 45%;
    height: 200%;
    width: auto;
   margin-right: 10%;
    margin-bottom: 8%;
    margin-top: 3rem;
  
}
.footer-licence{
    margin-left: 30%;
    color: whitesmoke;
}
.licence-img{
    width: 16%;
    margin-left: 15%;
    margin-bottom: 2rem;
    margin-top: 5rem;
}
.footer-col-2{
    margin-left: 60%;
    margin-top: -14%;
    
}
.footer-col-1{
    margin-top: 3rem;
   
}
.footer-1{
    margin-left: 10%;
}
@media all and (max-width :768px){
    .footer-body{
        width: 100%;
        margin: auto;
      
    }
    .footer-img{
    margin-right: 7px;
}
}

@media all and (max-width: 470px){
     .footer-img{
         width: auto;
         height: auto;
         margin-top: 5rem;
         margin-left: 27%;
         
     }
     .footer-body{
         width: auto;
         height: auto;
     }
     .footer-para1{
         font-size: medium;
         justify-content: center;
         text-align: center;
         margin: auto;
     }
     .footer-para2{
         margin-left: 15px;
     }
     .footer-col-2{
         margin-left: 10%;
         margin-top: 2rem;
     }
     .footer-1{
         margin-top: 4rem;
     }
   
     .licence-img{
         width: 55%;
     }
     
}

@media all and (max-width: 400px){


    .footer-img{
        width: auto;
        height: auto;
        margin-top: 22px;
        margin-left: 10px;
    }
    .footer-body{
        width: auto;
        height: auto;

   
    }
    .footer-para1{
        font-size: medium;
        justify-content: center;
        text-align: center;
        margin: auto;
    }
}

