
.footer-body{
    background-color: dimgray;
    margin-top: 28%;
   padding:50px;
    height: 100%;
    width:100%
    

}
.col-title{
    font-size: xx-large;
    font-display:inherit;
    color: rgb(238, 199, 213);
    margin-right: 3px;
    margin-top: 35px;
}
.col-About-title{
    font-size: xx-large;
    font-display:inherit;
    color: rgb(238, 199, 213);
}
.footer-para1{
    margin-right: 65%;
    font-size: large;
    color:whitesmoke
}
.footer-para2{
    margin-right: 65%;
    font-size: large;
    color:whitesmoke
}
.footer-single-row{
    margin:0px;
    }

.footer-img{
    margin-left: 65%;
    height: 200%;
    width: auto;
    margin-bottom: auto;
  
}

@media all and (max-width :768px){
    .footer-body{
        width: 100%;
        margin: auto;
      
    }
    .footer-img{
    margin-right: 7px;
}
}

@media all and (max-width: 470px){
     .footer-img{
         width: auto;
         height: auto;
         margin-top: 21%;
         margin-left: 10px;
         
     }
     .footer-body{
         width: auto;
         height: auto;
     }
     .footer-para1{
         font-size: medium;
         justify-content: center;
         text-align: center;
         margin: auto;
     }
     .footer-para2{
         margin-left: 15px;
     }
}

@media all and (max-width: 400px){


    .footer-img{
        width: auto;
        height: auto;
        margin-top: 22px;
        margin-left: 10px;
    }
    .footer-body{
        width: auto;
        height: auto;

   
    }
    .footer-para1{
        font-size: medium;
        justify-content: center;
        text-align: center;
        margin: auto;
    }
}

